.money-card-container {
	position: absolute;
	display: flex;
	justify-content: center;
	height: 10rem;
	padding: 1.5rem 2rem;
	top: 7rem;

	.card {
		width: 22rem;
		border-radius: 0.4rem;
		position: space-between;
		margin: 0 2rem;
		height: 8.5rem;
		border-radius: 0.25rem;
		background: var(--shape);
		border-radius: 0.25rem;
		z-index: 10;
		border-radius: 0.5rem;

		.white-bg {
			background: var(--shape);
		}

		.green-bg {
			background: var(--green-light);
			color: var(--shape);
		}

		.white-bg,
		.green-bg {
			font-size: 2rem;
			font-weight: 500;
			border-radius: 0.5rem;
		}

		.title-icon {
			height: 3rem;
			display: flex;

			.card-title {
				font-size: 1rem;
				margin: 1.5rem 0 0 1.5rem;
				font-weight: 100;
			}

			.icon {
				width: 3rem;
				height: 3rem;
				margin: 0.8rem 1.5rem 1rem 0;
			}
		}
		.card-amount {
			display: block;
			font-size: 2.25rem;
			font-weight: 500;
			margin-left: 1.5rem;
			margin-top: 0.8rem;
		}
	}
}
