<div class="btn-container">
	<button class="new-transaction-btn" (click)="openModal()">
		<a>+ Nova transação</a>
	</button>
</div>
<div class="container-transactions">
	<table class="transactions">
		<tr class="title-transactions">
			<th class="info description-tile">Descrição</th>
			<th class="info value-title">Valor</th>
			<th class="info date-title">Data</th>
		</tr>
		<tr
			class="transactions-infos"
			*ngFor="let transactionReceived of transactionsReceived"
		>
			<td class="info description-row">{{ description }}</td>
			<td class="info value-row">{{ amount | currency }}</td>
			<!-- <td class="info date-row">{{ transactionReceived.date | date: "short" }}</td>
			<td class="info delete-row">
				<a href="#"><img [src]="transactionReceived.delete" alt="minus button" /></a>
			</td> -->
		</tr>
	</table>
</div>

<div class="modal-container">
	<app-modal class="modal" #modal [modalConfig]="modalConfig"></app-modal>
</div>
