.header {
	position: relative;
	width: 100%;
	top: 0;
	height: 15rem;
	background: var(--green);
	display: flex;
	justify-content: center;

	.logo {
		width: 7.5rem;
		height: 1.5rem;
		margin: 5rem;
		display: block;
	}
}
