:root {
	--green: #2d4a22;
	--red: #e52e4d;
	--green-light: #49aa26;
	--text-description: #363f5f;
	--text-body: #969cb3;
	--modal-background: #e7e9ee;
	--input-border: #d7d7d7;
	--background: #f0f2f5;
	--shape: #ffffff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 100%;
	height: 100%;
}
body {
	height: 100%;
	background: var(--background);
	-webkit-font-smoothing: antialiased;
}
body,
input,
textarea,
button {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong {
	font-weight: 600;
}
button {
	cursor: pointer;
}
[disabled] {
	opacity: 0.6;
	cursor: not-allowed;
}
img {
	display: block;
	max-width: 100%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="number"] {
	-moz-appearance: textfield;
}
@media (max-width: 1080px) {
	html {
		font-size: 93.75%;
	}
}
@media (max-width: 720px) {
	html {
		font-size: 80%;
	}
}
